.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 20px 40px;
  box-sizing: border-box;
}

.nav-logo {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  font-size: 20px;
}

.nav-menu li {
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.nav-contact{
    border-radius: 50px;
    padding: 1px 38px;
    background: white;
    color: black !important;
}